<h1>{{ unit.unit_name }}</h1>

<h2>Achievement</h2>
<p>{{ unit.unit_goal }}</p>

<h2>Description</h2>
<p>{{ unit.unit_description }}</p> 
<!--unit. at the front is the object that stored all field like unit_name-->


<hr>
<h2>Set Title</h2>

<form method="post">
    {% csrf_token %}
    {{ set_form.as_p }}
    <button type="submit">Update Title</button>
</form>

<h2>Assignments</h2>
<form method="post">
    {% csrf_token %}

    {{ formset.management_form }}


    <table>
        <tr>
            <th>Assignment Name</th>
            <th>Assignment Weight</th>
        </tr>

        {% for form in formset %}
        <tr>
            <td>{{ form.assignment_name }}</td>
            <td>{{ form.assignment_weight }}</td>
                    <td>{{ form.DELETE }}</td>
        </tr>
        {% endfor %}
    </table>

    <button type="submit">Save All</button>
    {{ formset.non_form_errors }}
</form>

